---
- name: Install GoLang - download and unarchive (step 1/2)
  unarchive:
    src: https://dl.google.com/go/go1.16.5.linux-amd64.tar.gz
    dest: /usr/local/
    remote_src: true
  become: true

- name: Install GoLang - Copy golangenv file to set environments for Go (step 2/2)
  file:
    src: "{{ playbook_dir }}/rc/golangenv"
    dest: ~/.rc/golangenv
    state: link
    force: true
